@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.header {
    @include flex(row,flex-end,center,nowrap);
    height: 8vh;
    position: fixed;
    z-index: 20;
    border-bottom: 1px solid black;
    opacity: 0.9;
    left: 0;
    right: 0;
}