.contactsBlock {
    min-height: 100vh;
    background-color: #b34c52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    max-width: 80%;
}

.btn {
    margin-top: 10px;
}