@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contactsBlock {
  min-height: 100vh;
  background: $bgSecondColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactsContainer {
    display: flex;
    flex-direction: column;
  }

  .forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;

    @media screen and (max-width: 414px) {
      max-width: 100%;
    }

    .formControl {
      background-color: $bgColor;
      border: 1px solid #4a4a4a;
      font-size: 14px;
      padding: 6px 15px;
      font-weight: 400;
      line-height: 1.5;
      @include text($textFontFamily, 14px, 1.8);

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .btn {
    margin-top: 10px;
  }
}









