@import "sass/variables";
.container {
    display: flex;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

