@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    @include flex(column, space-between, center, nowrap);
    background-color: $bgSecondColor;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 140px;
    padding: 20px;
    transform: translate(0, -150px);
    transition: 0.6s;

    a {
      text-decoration: none;
      color: $textColor;
      @include text($textFontFamily, 16px, 1.8, 300);
      letter-spacing: 1px;
      cursor: pointer;

      &:hover {
        color: $primaryColor;
      }
    }

    .active {
      color: $primaryColor;
      height: 150px;
    }
  }

  .show {
    transform: translate(0, 0);
  }

  .burgerBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 2px;
  }

  @media screen and (min-width: 400px) {
    display: none;
  }
}
