.worksBlock {
    min-height: 100vh;
    background-color: #8a79b5;
}

.worksContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.works {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    border: 1px solid;
    background-color: #5fb3b5;
}

