.worksBlock {
    min-height: 100vh;
    background-color: #8a79b5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worksContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.works {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

