@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
    min-height: 100vh;
    background: $bgSecondColor;
    padding: 50px 0;
}

.skillsContainer {
    @include container();
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}