@import "../common/styles/sass/variables";

.skillsBlock {
    min-height: 100vh;
    background: $bgSecondColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-around;
    //border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
}