.skillsBlock {
    min-height: 100vh;
    background-color: #b0b554;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
}