.mainBlock {
    height: 100vh;
    background-color: lightcoral;
}

.text {
    width: 300px;
    background-color: #a2b5b1;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b5a5ad;
}