.nav{
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid black;
}

.href {
    text-decoration: none;
    color: #4e4d4e;
    font-size: 16px;
    font-weight: bold;
}