@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.nav{
    display: flex;
    justify-content: space-between;
    min-width: 340px;
    //border: 1px solid black;
    margin-right: 20px;
}

.href {
    text-decoration: none;
    color: $textColor;
    font-weight: bold;
    @include text($titleFontFamily, 16px, 1.8);
    letter-spacing: 1px;
}