@import "../common/styles/sass/variables";

.footerBlock {
    background: $bgColor;
}

.footerContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.wrapper {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

.fullBodyElement {
    background: $bgSecondColor;
    height: 50px;
    width: 50px;
}
