.footerBlock {
    background-color: #73b57d;
}

.footerContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.wrapper {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

.fullBodyElement {
    background-color: #a2b5b1;
    height: 50px;
    width: 50px;
}
